.cryptoTable-wrapper {
  margin: 150px 15px 70px 15px;
  display: flex;
  flex-direction: column;
  align-items: self-end;

  @include tablet {
    margin: 200px 100px 70px 100px;
  }

  @include desktop {
    margin: 200px 170px 70px 170px;
  }

  @include aboveHD {
    margin: 340px 170px 70px 170px;
  }

  .ant-table-wrapper {
    width: 100%;
  }

  .ant-table {
    background-color: transparent;
    color: $COLORS-blue-200;
    font-family: $FONT-inter-Regular;
    font-size: 24px;
    line-height: 33px;

    @include mobile {
      overflow: scroll;
    }

    @include aboveHD {
      font-size: 26px;
      line-height: 37px;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      background-color: transparent;
    }

    .ant-table-cell {
      padding: 24px 12px;
      border-bottom: 2px solid #e2e8f0;
      background-color: transparent;
      color: inherit;
      vertical-align: middle;

      @include aboveHD {
        padding: 36px 12px;
      }
    }

    .ant-table-column-sorter-inner {
      span {
        font-size: 20px;
      }
    }

    .ant-table-thead {
      background-color: #f7fafc33;
      font-family: $FONT-inter-Bold;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;

      @include aboveHD {
        font-size: 22px;
        line-height: 30px;
      }

      .ant-table-cell {
        border: none;

        &::before {
          display: none;
        }

        &:first-child {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
        }

        &:last-child {
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
        }
      }
    }
  }

  .cryptoTable-search {
    border: 1px solid #c1d6e9;
    background-color: transparent;
    padding: 22px 40px;
    width: 100%;
    margin-bottom: 45px;
    border-radius: $border-radius;

    @include tablet {
      width: 650px;
    }

    @include aboveHD {
      width: 780px;
      margin-bottom: 67px;
      padding: 22px 50px;
    }

    .ant-input-wrapper {
      display: flex;
      align-items: center;
    }

    input,
    .ant-select-selector,
    .ant-select-selection-placeholder {
      position: relative;
      background: transparent;
      border: none;
      color: #84aed3;
      font-size: 16px;
      line-height: 26px;
      font-family: $FONT-inter-Regular;
      padding: 0;
      outline: none;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }

      &::placeholder {
        color: #84aed3;
      }
    }

    .ant-select-selection-placeholder {
      top: 50%;
      transform: translateY(-50%);
    }

    .ant-input-group-addon {
      width: auto;

      button,
      & {
        background-color: transparent;
        border: none;
      }

      .anticon {
        font-size: 32px;
        color: #84aed3;
      }
    }
  }
}

.ant-tag {
  background-color: #e2e8f04d;
  color: $COLORS-blue_400;
  border: none;
  font-family: $FONT-inter-Medium;
  font-size: 22px;
  line-height: 30px;
}

.ant-table-pagination.ant-pagination {
  background-color: #ffffff33;
  padding: 16px;
  font-family: $FONT-inter-Regular;

  @include tablet {
    padding: 20px 45px;
  }

  @include aboveHD {
    padding: 33px 45px;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector,
  li button,
  li a:not(.ant-pagination-item-link) {
    background-color: rgba($color: $COLORS-white, $alpha: 0.3);
    color: $COLORS-blue-200;
    border: 1px solid #e2e8f0;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    height: auto;

    @include tablet {
      padding: 11px 20px;
    }
  }

  li {
    background: none;
    border: none;
    height: auto;
    margin-bottom: 0;
    line-height: 1;

    a:not(.ant-pagination-item-link),
    button {
      padding: 10px 16px;

      @include tablet {
        padding: 16px 20px;
      }
    }

    &.ant-pagination-jump-next {
      align-self: self-end;

      .ant-pagination-item-container .ant-pagination-item-ellipsis {
        position: relative;
      }
    }
  }
}
