.faq-wrapper {
  padding: 0 158px;

  .faq-content {
    margin-right: 100px;

    h2 {
      margin-top: 20px;
      margin-bottom: 55px;
    }

    .faq-image {
      width: 70%;
      margin-top: 80px;
    }
  }

  .ant-collapse {
    background-color: transparent;
    border: none;
  }

  .ant-collapse-item-active {
    .ant-collapse-header {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      background-color: $COLORS-green_600;

      .light & {
        color: $COLORS-white;
        background-color: $COLORS-green_500;
      }
    }
  }

  .ant-collapse-item {
    background-color: $COLORS-gray_400;
    border: none;
    margin-bottom: 30px;
    border-radius: $border-radius;
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);

    .light & {
      background-color: $COLORS-white;
    }

    &:last-child {
      border-radius: $border-radius;
    }

    .ant-collapse-header .ant-collapse-arrow {
      right: 50px !important;
      width: 36px;
      transition: all 0.3s;
      transform: rotate(-180deg);

      &.active {
        transform: rotate(0) translateY(-50%);
      }
    }

    > .ant-collapse-content {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      background-color: $COLORS-gray_400;
      border-top: 0;
      padding: 30px 50px;
      box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);

      .light & {
        background-color: $COLORS-white;
      }

      &.ant-collapse-content > .ant-collapse-content-box {
        padding: 0;
      }
    }

    .ant-collapse-header {
      padding: 45px 50px;

      span {
        font-size: 40px;
        line-height: 64px;
        font-family: $FONT-montserrat-Medium;

        .dark & {
          color: $COLORS-white;
        }
      }
    }
  }
}
