.header-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 74px;
  left: 0;
  width: 100%;
  padding: 36px 6.8%;
  z-index: 5;

  @include mobile {
    top: 52px;
    padding: 15px;
    justify-content: space-between;
    flex-wrap: wrap;

    &.active {
      background-color: $COLORS-gray_500;
      height: calc(100% - 52px);
      align-content: space-between;
      padding-bottom: 0;

      .light & {
        background-color: $COLORS-white;
      }
    }
  }

  .logo {
    object-fit: contain;
    width: 120px;
    margin-right: 30px;

    @include mobile {
      width: 60px;
      height: 70px;
    }

    @include aboveHD {
      width: 148px;
      margin-right: 43px;
    }
  }

  .colorScheme-btn {
    padding: 0;

    @include mobile {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .menubar {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include tablet {
      display: none;
    }

    &.active span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
      }

      &:nth-child(3) {
        opacity: 0;
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
        top: -1px;
      }
      .light & {
        background-color: $COLORS-black;
      }
    }

    span {
      position: relative;
      background-color: $COLORS-white;
      width: 30px;
      height: 3px;
      display: inline-block;
      border-radius: $border-radius;
      transition: all 0.3s;
    }
  }
}
.auth-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    display: none;

    &.active {
      display: flex;
      justify-content: space-between;
      align-items: unset;
      width: 100%;
      padding: 12px 12px 36px;

      .light & {
        background-color: $COLORS-gray_400;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
    }
  }

  .register-button {
    background-color: $COLORS-yellow_400;
    padding: 14px 65px;
    margin-right: 50px;
    margin-left: 30px;

    @include mobile {
      display: none;

      &.active {
        display: block;
        padding: 14px 30px;
        margin-right: 0;
        margin-left: 0;
      }
    }

    @include tablet {
      margin-left: 50px;
    }

    @include aboveHD {
      margin-left: 89px;
    }
  }

  .sign-in-button {
    font-size: 20px;
    line-height: 20px;
    color: $COLORS-white;
    font-family: $FONT-montserrat-SemiBold;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @include mobile {
      display: none;

      &.active {
        display: block;
      }
    }

    @include desktop {
      font-size: 24px;
      line-height: 24px;
    }

    @include aboveHD {
      font-size: 32px;
      line-height: 39px;
    }
  }
}
