.navigation-wrapper {
  display: flex;
  border-right: 1px solid rgba($color: $COLORS-white, $alpha: 0.5);
  margin-right: 60px;

  @include mobile {
    display: none;

    &.active {
      display: block;
      width: 100%;
      margin-right: 0;
      border: 0;
      margin-top: 40px;

      li {
        margin-bottom: 60px;

        &:first-of-type a {
          padding: 0;
          background-color: transparent;

          .light & {
            background-color: transparent;
          }
        }

        a {
          .light & {
            color: $COLORS-black;
          }
        }
      }
    }
  }

  @include desktop {
    margin-right: 89px;
  }

  li {
    margin-right: 20px;

    @include desktop {
      margin-right: 50px;
    }

    @include aboveHD {
      margin-right: 100px;
    }

    &:first-of-type {
      a {
        color: $COLORS-green_500;
        background-color: $COLORS-gray_500;
        padding: 14px 23px 11px 23px;
        border-radius: $border-radius;

        .light & {
          background-color: rgba($color: $COLORS-white, $alpha: 0.84);
        }
      }
    }

    a {
      font-size: 20px;
      line-height: 20px;
      color: $COLORS-white;
      font-family: $FONT-montserrat-SemiBold;

      @include desktop {
        font-size: 24px;
        line-height: 24px;
      }

      @include aboveHD {
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
}
