.promotions-wrapper {
  padding-top: 70px;
  padding-bottom: 140px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @include tablet {
    padding-left: 90px;
    padding-right: 200px;
    padding-top: 130px;
  }

  @include desktop {
    padding-right: 320px;
  }

  @include aboveHD {
    padding-left: 174px;
    padding-right: 420px;
    padding-bottom: 220px;
    padding-top: 190px;
  }

  @include tablet {
    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-image: url('../../public/images/rightOctagons.png');
      bottom: 0;
      right: 0;
      background-position: bottom right;
    }
  }

  .promotions-slider {
    .slick-prev,
    .slick-next {
      font-size: 46px;
      color: $COLORS-white;
      left: auto;
      right: -148px;
      top: 42%;
      padding: 16px;
      border-radius: 50%;
      background-color: $COLORS-gray-400;
      width: 79px;
      height: 79px;
      box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
      z-index: 2;

      @include mobile {
        right: 0;
        top: auto;
        bottom: -160px;
      }

      @include aboveHD {
        top: 44%;
      }

      .light & {
        background-color: $COLORS-white;
        color: $COLORS-gray-400;
      }
    }

    .slick-prev {
      top: 58%;

      @include mobile {
        right: 25%;
        top: auto;
      }

      @include aboveHD {
        top: 56%;
      }
    }

    .slider-item {
      display: flex !important;
      position: relative;
      overflow: visible;

      @include tablet {
        padding-left: 176px;
        padding-top: 91px;
        padding-bottom: 91px;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        background-image: url('../../public/images/promotionsBackground.png');
        background-size: cover;

        @include mobile {
          width: 100%;
        }

        @include tablet {
          height: 100%;
          max-height: 650px;
          top: 50%;
          transform: translateY(-50%);
        }

        @include aboveHD {
          max-height: 100%;
        }
      }

      .content {
        background-color: $COLORS-gray-400;
        padding: 170px 30px 40px 30px;
        border-radius: 48px;
        width: 100%;
        box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);

        @include mobile {
          margin-top: 250px;
        }

        @include tablet {
          padding: 70px 30px 70px 40%;
        }

        @include desktop {
          padding: 100px 60px 100px 40%;
        }

        @include aboveHD {
          padding: 140px 140px 140px 40%;
        }

        .light & {
          background-color: $COLORS-white;
        }

        h2 {
          margin-bottom: 38px;
          color: $COLORS-yellow_400;
        }

        p {
          margin-bottom: 16px;

          &.lg {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
