.btn {
  color: $COLORS-white;
  padding: 26px 29px;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: $FONT-montserrat-Medium;
  font-size: 26px;
  line-height: 32px;
  border-radius: $border-radius;
  background-color: transparent;

  &.btn-filled {
    background-color: $COLORS-yellow_400;
  }

  &.btn-outline {
    border: 3px solid $COLORS-white;
  }
}
