.hero-wrapper {
  background-image: url('../../public/images/heroBackground.png');
  background-size: contain;
  background-repeat: round;
  padding-top: 300px;
  padding-left: 6.8%;
  align-items: flex-end;
  display: flex;
  height: 100vh;

  h1 {
    margin-bottom: 55px;
  }

  p {
    margin-bottom: 81px;

    .light & {
      color: $COLORS-white;
    }
  }

  .buttons-wrapper {
    display: flex;
    gap: 48px;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}
