// Colors

$COLORS-red_300: #ff7272;
$COLORS-red_400: #d00000;
$COLORS-green_300: #5dd662;
$COLORS-green_400: #14a91a;
$COLORS-green_500: #4caf50;
$COLORS-green_600: #2e7d32;
$COLORS-blue_200: #b4c0d4;
$COLORS-blue_300: #b3e5fc;
$COLORS-blue_400: #44a5ff;
$COLORS-gray_400: #424242;
$COLORS-gray_500: #303030;
$COLORS-yellow_400: #ffa000;
$COLORS-yellow_200: #ffecb3;

// Fonts

$FONT-poppins-ExtraBoldItalic: 'Poppins-ExtraBoldItalic';
$FONT-poppins-BoldItalic: 'Poppins-BoldItalic';
$FONT-poppins-Bold: 'Poppins-Bold';
$FONT-poppins-ExtraBold: 'Poppins-ExtraBold';
$FONT-poppins-LightItalic: 'Poppins-LightItalic';
$FONT-poppins-Medium: 'Poppins-Medium';
$FONT-poppins-ExtraLightItalic: 'Poppins-ExtraLightItalic';
$FONT-poppins-ExtraLight: 'Poppins-ExtraLight';
$FONT-poppins-MediumItalic: 'Poppins-MediumItalic';
$FONT-poppins-Light: 'Poppins-Light';
$FONT-poppins-Italic: 'Poppins-Italic';
$FONT-poppins-BlackItalic: 'Poppins-BlackItalic';
$FONT-poppins-Black: 'Poppins-Black';
$FONT-poppins-Regular: 'Poppins-Regular';
$FONT-poppins-SemiBoldItalic: 'Poppins-SemiBoldItalic';
$FONT-poppins-SemiBold: 'Poppins-SemiBold';
$FONT-poppins-Thin: 'Poppins-Thin';
$FONT-poppins-ThinItalic: 'Poppins-ThinItalic';
$FONT-poppins-ExtraBoldItalic_1: 'Poppins-ExtraBoldItalic_1';
$FONT-poppins-ExtraBold_1: 'Poppins-ExtraBold_1';
$FONT-poppins-BoldItalic_1: 'Poppins-BoldItalic_1';
$FONT-poppins-Light_1: 'Poppins-Light_1';
$FONT-poppins-ExtraLightItalic_1: 'Poppins-ExtraLightItalic_1';
$FONT-poppins-MediumItalic_1: 'Poppins-MediumItalic_1';
$FONT-poppins-Italic_1: 'Poppins-Italic_1';
$FONT-poppins-LightItalic_1: 'Poppins-LightItalic_1';
$FONT-poppins-ExtraLight_1: 'Poppins-ExtraLight_1';
$FONT-poppins-Medium_1: 'Poppins-Medium_1';
$FONT-poppins-Regular_1: 'Poppins-Regular_1';
$FONT-poppins-Thin_1: 'Poppins-Thin_1';
$FONT-poppins-SemiBold_1: 'Poppins-SemiBold_1';
$FONT-poppins-ThinItalic_1: 'Poppins-ThinItalic_1';
$FONT-poppins-SemiBoldItalic_1: 'Poppins-SemiBoldItalic_1';
$FONT-inter-Bold: 'Inter-Bold';
$FONT-inter-ExtraBold: 'Inter-ExtraBold';
$FONT-inter-ExtraLight: 'Inter-ExtraLight';
$FONT-inter-Black: 'Inter-Black';
$FONT-inter-Medium: 'Inter-Medium';
$FONT-inter-Regular: 'Inter-Regular';
$FONT-inter-SemiBold: 'Inter-SemiBold';
$FONT-inter-Light: 'Inter-Light';
$FONT-inter-Thin: 'Inter-Thin';
$FONT-montserrat-Black: 'Montserrat-Black';
$FONT-montserrat-Bold: 'Montserrat-Bold';
$FONT-montserrat-BoldItalic: 'Montserrat-BoldItalic';
$FONT-montserrat-BlackItalic: 'Montserrat-BlackItalic';
$FONT-montserrat-ExtraLight: 'Montserrat-ExtraLight';
$FONT-montserrat-Light: 'Montserrat-Light';
$FONT-montserrat-ExtraLightItalic: 'Montserrat-ExtraLightItalic';
$FONT-montserrat-ExtraBold: 'Montserrat-ExtraBold';
$FONT-montserrat-ExtraBoldItalic: 'Montserrat-ExtraBoldItalic';
$FONT-montserrat-Italic: 'Montserrat-Italic';
$FONT-montserrat-SemiBoldItalic: 'Montserrat-SemiBoldItalic';
$FONT-montserrat-Regular: 'Montserrat-Regular';
$FONT-montserrat-SemiBold: 'Montserrat-SemiBold';
$FONT-montserrat-Medium: 'Montserrat-Medium';
$FONT-montserrat-MediumItalic: 'Montserrat-MediumItalic';
$FONT-montserrat-LightItalic: 'Montserrat-LightItalic';
$FONT-montserrat-ThinItalic: 'Montserrat-ThinItalic';
$FONT-montserrat-Thin: 'Montserrat-Thin';
