.dark {
  background-color: $COLORS-gray_500;
}

.light {
  background-color: $COLORS-white;
}

.container {
  padding-right: 15px;
  padding-left: 15px;

  @include tablet {
    padding-right: 107px;
    padding-left: 107px;
  }

  @include desktop {
    padding-right: 157px;
    padding-left: 157px;
  }
}
